layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" size=26 {
      pane command="nvim"
      pane command="btop"
    }
    pane split_direction="vertical" {
        pane
        pane
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
